<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle Name="AirBridge for Windows"
          Manufacturer="AirBridge"
          Version="1.0.1"
          UpgradeCode="7F1C28DF-D74A-4A5E-ACF8-416775882BDB">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication Theme="hyperlinkLicense"
                                               LicenseUrl=""
                                               SuppressOptionsUI="yes" />
    </BootstrapperApplication>
    <Chain>
      <MsiPackage SourceFile="$(sys.CURRENTDIR)\artifacts\AirBridge.msi"
                  Compressed="yes"
                  Vital="yes" />
    </Chain>
  </Bundle>
</Wix>
